<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="sketch.js"></script>
  <title>Sketch Name</title> <!--Update your title here-->
  <!--Add style to your code here-->
  <style>
    body {
      font-family: sans-serif;
      margin: 2em;
      color: #000000;
      background-color: #f0f0f0;
    }
  </style>
</head>
<body>
    <h1>Sketch Name</h1>
    <p>Add your description here.</p>

   <h2>Resources</h2>
   <ul>
    <li><a href="http://example.com" target="_blank">One reference</a></li>
    <li><a href="http://example.com" target="_blank">Another reference</a></li>
    <li><a href="http://example.com" target="_blank">And another reference</a></li>
   </ul>
</body>
</html>
